<div id="menu-bar">
  <h1>Testing Trend Analysis</h1>
  <a href='/home/index' style="height: 20px; width: 50px; color: #ffffff; margin-right: 10px;">HOME</a>
</div>


<body>
<div id="page_title">
  <h1>Pyramid View</h1>

</div>

<div id="comparative_analysis">
  <script type="text/javascript">

      var pyramidData = <%= raw(@jsonData) %>;

      function pointToString(point) {
          return point.join(',');
      }

      function triangleToString(triangleData) {
          var points = [triangleData.top, triangleData.left, triangleData.right];
          return _.chain(points).map(pointToString).value().join(',');
      }

      function triangleToLabel(triangleData) {
          return triangleData.testType;
      }

      function pyramidToString(pyramidData) {
          return _.chain(pyramidData.triangles.reverse()).map(triangleToString).value();
      }

      function pyramidToLabels(pyramidData) {
          return _.chain(pyramidData.triangles.reverse()).map(triangleToLabel).value();
      }

      var dataset = pyramidToString(pyramidData);

      var colors = ['green', 'blue', 'orange'];
      var testTypes = pyramidToLabels(pyramidData);
      var labelsPosition = [450, 300, 100];

      var w = h = pyramidData.height;
      var svg = d3.select("body")
              .append("svg")
              .attr("width", w)
              .attr("height", h);

      var pyramid = svg.selectAll("polygon")
              .data(dataset)
              .enter()
              .append("polygon");

      pyramid.attr("points", String)
              .attr("fill", function (d, i) {
                  return colors[i]
              });

      var labels = svg.selectAll("text")
              .data(testTypes)
              .enter()
              .append("text")
              .text(String);

      labels.attr('x', 210).attr('y', function(d, i){
          return labelsPosition[i];
      });
  </script>
</div>
</body>

