<%= render :file=> '/visualization/pyramid.html.erb' %>
<% if @json and flash[:no_test_error]==nil %>
  <%= render 'layouts/pyramid_partial' %>
<% end %>

<script type="text/javascript" src="../javascripts/util/templates.js"></script>
<script type="text/javascript" src="../javascripts/util/utils.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
      var color =["","#DB7093","#008080","#DAA520","#CD853F","#808000","#191970","#4B0082","#A0522D"];
      $("#display_message").css("display","none");

      var plotPyramid = function(projectJson){
          var renderString="";
          var proj_title="";
          var table_header="";
          var table_content ="";
          var unknownTestTypes = projectJson.unknown_test_types;
          if(unknownTestTypes)
        {
            message = "The following Test Types are not being supported currently. <br>"
            for(var count =0;count<unknownTestTypes.length;count++){
                message+=unknownTestTypes[count]+"<br>"
            }
            message+='Please drop a mail stating the order to <a href="mailto:tta@thoughtworks.com">tta@thoughtworks.com</a>'
            $("#display_message").css("display","block");
            $("#display_message").html(message);
        }
        else
       {
           table_header ="<tr class='table_header'> <th>TEST TYPES</th> <th>NUMBER OF TESTS</th> <th>TOTAL RUN TIME</th> <th>TEST TYPE %</th> <th>PASSING %</th> </tr>";
           var typeOfTests = projectJson.test_types,
            width = 400,
            height=400;
            proj_title="<h3>Test-Pyramid for: "+ projectJson.sub_project_name.toUpperCase() +"</h3><br>";
            var pyramidItems = [];
            for(var index = 0, len = typeOfTests.length;index<len;index++){
                if(typeOfTests[index].percent == 0.0) {
                   continue;
               }

               currentItem = {};
               currentItem.testName = typeOfTests[index].test_name.split(' ')[0];
               currentItem.percent = typeOfTests[index].percent;
               currentItem.triangleWidth = currentItem.percent/100*width;
               currentItem.triangleHeight = currentItem.percent/100*height;
               var seq_no= typeOfTests[index].seq_no;
               currentItem.color =color[parseInt(seq_no/100)];
                currentItem.no_of_test = typeOfTests[index].no_of_test;
                currentItem.total_run_time =typeOfTests[index].duration;
                currentItem.pass_percent= typeOfTests[index].percentage_passing;
                table_content+="<tr> <td"+" style='background:"+currentItem.color+"'>"+currentItem.testName+"</td> <td>"+currentItem.no_of_test+"</td>";
                table_content+="<td>"+currentItem.total_run_time+" secs</td><td>"+currentItem.percent+" %</td> <td>"+currentItem.pass_percent+" %</td> </tr>";
                renderString += "<div class='pyramidItem'>";
               renderString+="<div id=\'"+currentItem.testName+"_div\' class='trapezoid' style='width:"+currentItem.triangleWidth+"px; border-bottom-width:"+currentItem.triangleHeight+"px; border-bottom-color:"+currentItem.color+";'></div>";
               renderString+="</div>";
               pyramidItems.push(currentItem);
           }
           renderString+="<div id='pyramid-overlay' style='display:block;'></div> " ;
           $('#proj_title').append(proj_title);
           $('#pyramid').append(renderString);
           $('#pyramidTable').append(table_header);
           $('#pyramidTable').append(table_content);

        var bodyHeight = $('body').css('height'),
                baseTriangleHeight = parseInt(bodyHeight)/ 2;

       }
    }

    var jsonR;
    var regExp = new RegExp("&quot;",'g');
    jsonR="<%= @json %>";
    jsonR = jsonR.replace(regExp,"\"");
    jsonR=JSON.parse(jsonR);
    if(jsonR!=""){
      plotPyramid(jsonR);
    }
  });
</script>


