<h1>Comparative Analysis View</h1>
<div id="comparative_analysis" style="width:600px;height:300px" data-source="junit_xml_data_path">

<script type="text/javascript">

    var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
    var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

    var data1 = [
        { label: "Label 1", data: d1, points: { fillColor: "#4572A7", size: 5 }, color: '#4572A7' },
        { label: "Label 2", data: d2, points: { fillColor: "#89A54E", size: 5 }, color: '#89A54E' }
    ];
    $.plot($("#comparative_analysis"), data1, {
        xaxis: {
            min: (new Date(2009, 12, 1)).getTime(),
            max: (new Date(2010, 11, 1)).getTime(),
            tickSize: [1, "month"],
            monthNames: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            tickLength: 0,
            axisLabel: 'Month',
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            axisLabelPadding: 5
        },
        yaxis: {
            axisLabel: 'Amount',
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            axisLabelPadding: 5
        },
        series: {
            lines: {
                show: true,
                fill: true
            },
            points: {
                show: false
            }
        },
        grid: {
            borderWidth: 1
        },
        legend: {
            labelBoxBorderColor: "none",
            position: "right"
        }
    });

  /*  $(function () {
        var options = {
            xaxis: {
                axisLabel: 'foo',
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 20,
                axisLabelFontFamily: 'Arial'
            },
            yaxis: {
                axisLabel: 'bar',
                axisLabelUseCanvas: true
            }
        };
 $.plot($("#comparative_analysis"),[ {
      label: "No. of tests passing",
      data: <%= @result_set %>,
       lines: {show: true},
      points: {show: true},
     options
    }
   });*/







        /*$(function () {
            var options = {
                xaxis: {
                    axisLabel: 'foo',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 20,
                    axisLabelFontFamily: 'Arial'
                },
                yaxis: {
                    axisLabel: 'bar',
                    axisLabelUseCanvas: true
                }
            };

            $.plot($("#placeholder"),
                    yourData,
                    options);
            );
        });*/

</script>
</div>

