<h1>Comparative Analysis View</h1>
<div id="comparative_analysis" style="width:600px;height:300px" data-source="junit_xml_data_path">

<script>

  
          $.plot($("#comparative_analysis"),[ {
      label: "No. of tests passing",
      data: <%= @result_set %>,
      lines: {show: true},
      points: {show: true}
    }
//              ,
//    {
//      label: "Series 2",
//      data: [ [0, 3], [1, 5], [2, 8], [3, 13] ],
//      lines: {show: true},
//      points: {show: true}
//    }
          ]);

</script>
</div>

