<h1>Comparative Analysis View</h1>
<div id="comparative_analysis" style="width:900px;height:600px">

<script>

$.plot($("#comparative_analysis"),[
     {
        label: "Project 1",
        data: <%= @result_set1 %>,
        lines: {show: true},
        points: {show: true},
        color: "maroon"
     },
    {
        label: "Project 2",
        data: <%= @result_set2 %>,
        lines: {show: true},
        points: {show: true},
        color: "blue"
    }
     ],
     {   xaxis: {
                    tickLength: 5,
                    axisLabel: 'Total No. of tests',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5
                },
         yaxis: {    tickLength: 5,
                    axisLabel: 'No. of failures',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5,

                },
         grid:  {
                     borderWidth: 0,
                     hoverable: true,
                     clickable: true,
                     labelMargin: 20
                }

     }
);

</script>

</div>

<a href='/home/index'><button style="height: 30px; width: 100px; marin-left: 30px; margin-top: 60px;" type="button">HOME</button></a>
