<html>
<head xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="../../assets/stylesheets/admin.css.scss"/>

</head>
<%= render :file=> '/home/header.html.erb' %>
<body>
<div id="title"class="page_title">
  <h1>TTA DATA  </h1>
</div>

<% if @json and flash[:no_test_error]==nil %>
    <%= render 'layouts/admin_partial' %>
<% end %>
</body>
<script type="text/javascript">
  $(document).ready(function(){
 var renderTable = function(tableData){
      var templates = new Template();
      var adminTemplate=templates.getAdminTableDataTemplate();
      var renderTableData= "<tr><th>No</th><th>PROJECT NAME </th><th>SUB PROJECT NAME </th></tr>";
      console.log(adminTemplate);
      var index =1;


      jQuery.each(tableData,function(projectName, subProjectData){
          console.log("Project Name :" + projectName);

          renderTableData+=templates.render(adminTemplate,{
              "Index": index,
              "ProjectName":projectName,
              "SubProjectName":""
          });

          jQuery.each(subProjectData,function(index,subProject){
            console.log("SubProject :"+subProject);
              renderTableData+=templates.render(adminTemplate,{
                  "Index": "",
                  "ProjectName":"",
                  "SubProjectName":subProject
              });
          });
      });
     $('#project_data').html(renderTableData);

 }
  var jsonR;
  var regExp = new RegExp("&quot;",'g');
  jsonR="<%= @json %>";
  jsonR = jsonR.replace(regExp,"\"");
  jsonR=JSON.parse(jsonR);
  if(jsonR!=""){
      console.log(jsonR);
      if('message' in jsonR)
      {
        var message ="<h3>"+jsonR["message"] +"</h3>";
        $("#display_message").html(message);
        $("#display_message").show();
      }
      else
      {
        $("#project_data_table").show();
        renderTable(jsonR);
      }
  }
  });
</script>
</html>
<!--adminPageTemplate: '<tr><td>{{Index}}</td><td>{{ProjectName}}</td><td>{{SubProjectName}}</td></tr>'-->
