<link rel="stylesheet" href="../../assets/stylesheets/application.css"/>
<div id="footer-bar">

  <div id="footer-email">
    <span>Email:</span>
    <a href="mailto:tta@thoughtworks.com">tta@thoughtworks.com</a>
  </div>
</div>
