
<link rel="stylesheet" href="../../assets/stylesheets/application.css"/>
<body>
<div id="menu-bar">
  <div id="title">
    <a href="/home">
      <h1>Test Trend Analyzer</h1>
      <span>Version 0.1.2 (05/02/2013)</span>
    </a>
  </div>
  <div class="menu-options">
    <a href='/home'><span class='home_logo'></span></a>
  </div>
</div>
</body>