
<link rel="stylesheet" href="/stylesheet/upload_form.css"> </link>
<body>

<%= render :file=> '/home/header.html.erb' %>


  <div class="main-menu">
    <a href='/visualization/pyramid'><button type="button">TEST PYRAMID VIEW</button></a>
    <a href='/comparative_analysis/create' style="text-decoration: none;"><button type="button">COMPARATIVE ANALYSIS</button> </a>
    <a href='/defect_analysis/new   ' style="text-decoration: none;"><button type="button">DEFECT ANALYSIS</button> </a>
    <a href='<%= upload_upload_path %>'><button type="button">UPLOAD TEST DATA</button></a>
  </div>

</div>
</body>