<h1>Welcome to Test Trend Analyzer</h1>

<script>
//    function displayView()
//    {
//        getView();
//        hidden false //evaluate whether needed
//        generate graph (run script)
//        alert("Hello World!");
//:onclick => "displayView();"
//    }

</script>

<%= link_to "Projects", projects_path %>
<%= link_to "Generate View", '/comparative_analysis/create' %>


