
<link rel="stylesheet" href="/stylesheet/upload_form.css"> </link>
<body>

<div id="header">
<h1 style="text-align: center; font-family: Tahoma;">Welcome to Test Log Analyser</h1>
</div>
<div id="links">

  <form style="text-align: center;">
    <a href='/upload/upload'><button style="height: 40px; width: 150px; marin-left: 30px; margin-top: 60px;" type="button">UPLOAD TEST DATA</button></a>

    <a href='/comparative_analysis/create' style="text-decoration: none;"><button style="height: 40px;width: 150px; margin-top: 60px; " type="button">VIEWS</button> </a>
  </form>

</div>
</body>