
<link rel="stylesheet" href="/stylesheet/upload_form.css"> </link>
<body>

<%= render :file=> '/home/header.html.erb' %>


  <form style="text-align: center;">
    <a href='/visualization/pyramid'><button style="height: 40px; width: 200px; marin-left: 30px; margin-top: 60px;" type="button">TEST PYRAMID VIEW</button></a>
    <a href='/comparative_analysis/create' style="text-decoration: none;"><button style="height: 40px;width: 200px; margin-top: 60px; " type="button">COMPARATIVE ANALYSIS</button> </a>  <br>
    <a href='<%= upload_upload_path %>'><button style="height: 40px; width: 200px; marin-left: 30px; margin-top: 60px;" type="button">UPLOAD TEST DATA</button></a>
  </form>

</div>
</body>