= javascript_include_tag 'admin'
= stylesheet_link_tag 'home'
.main-menu
  %a{:href => "/pyramid"}
    %button{:type => "button"} TEST PYRAMID VIEW
  %a{:href => "/comparative_analysis"}
    %button{:type => "button"} COMPARATIVE ANALYSIS
  / # Commenting this button as the compare run module is in progress
  %a{:href => "/compare_runs"}
    %button{:type => "button"} COMPARE RUNS
  %a{:href => "/defect_analysis"}
    %button{:type => "button"} FAILURE ANALYSIS
  %a{:href => "/upload"}
    %button{:type => "button"} UPLOAD TEST DATA
  %a{:href => "/execution_trends"}
    %button{:type => "button"} TEST EXECUTION TRENDS
  - if !(@all_external_urls == "[]")
    = render partial: 'layouts/home_partial'
