<%= render :file=> '/home/header.html.erb' %>
<link rel="stylesheet" href="../../assets/stylesheets/home.css"/>
<body>



  <div class="main-menu">
    <a href='/pyramid'><button type="button">TEST PYRAMID VIEW</button></a>
    <a href='/comparative_analysis'><button type="button">COMPARATIVE ANALYSIS</button> </a>
    <a href='/defect_analysis'><button type="button">DEFECT ANALYSIS</button> </a>
    <a href='/upload'><button type="button">UPLOAD TEST DATA</button></a>

  </div>

</div>

</body>
<%= render :file=> '/home/footer.html.erb' %>