<h1>Welcome to Test Log Analyser</h1>

<%= link_to "JUnit xmls", j_unit_xmls_path %> <br/>
<%= link_to "Projects", projects_path %> <br/>
<%= link_to "Dashboard", '/comparative_analysis/create' %>
<%= link_to "Upload", '/upload/upload' %>

<!--<table>
  <tr>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <tr>

  </tr>
</table>-->

