default: &default
  adapter: mysql2
  encoding: utf8
  host: localhost
  port: 3306
  reconnect: false
  pool: 5

development:
  <<: *default
  database: tta_dev
  username: <%= ENV["TTA_DEV_USER"] %>
  password: <%= ENV["TTA_DEV_PASSWORD"] %>

test:
  <<: *default
  database: tta_test
  username: <%= ENV["TTA_TEST_USER"] %>
  password: <%= ENV["TTA_TEST_PASSWORD"] %>

production:
  <<: *default
  database: tta_prod
  username: <%= ENV["TTA_PROD_USER"] %>
  password: <%= ENV["TTA_PROD_PASSWORD"] %>

