




development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: tta
  pool: 5
  username: root
  password:
  host: localhost


test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: tta_test
  pool: 5
  username: root
  password:
  host: localhost

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: tta_prod
  pool: 5
  username: root
  password:
  host: localhost


