<head xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="../../assets/stylesheets/application.css"/>
  <link rel="stylesheet" href="../../assets/stylesheets/defect_analysis.css"/>

  <script type="text/javascript" src="../javascripts/util/templates.js"></script>
  <script type="text/javascript" src="../../assets/javascripts/defect_analysis.js"></script>
  <style type="text/css">
      body{
          position:relative;
      }
  </style>
</head>

<%= render :file=> 'defect_analysis/new.html.erb' %>
<body>
<div id="container">
  <% if flash[:no_errors]!=nil %>
      <span class="display-message"><%= flash[:no_errors] %><br></span>
      <% end %>
  <div id="defect-analysis-table">
    <div class="color_codes">
      <div class="legend_item" id="type1"><span class="rect"></span><span class="legend_text">Failure Message</span></div>
      <div class="legend_item" id="type2"><span class="rect"></span><span class="legend_text">Failing Tests</span></div>
    </div>
  </div>
  <div id="defect-analysis-data" style="display:none;">
    <%= @defect_analysis_json %>
  </div>
</div>
</body>