<head xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="/stylesheet/upload_form.css"> </link>
</head>

<body>
<%= render :file=> 'defect_analysis/new.html.erb' %>
<%= @defect_analysis_json %>
</body>