// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

td {
  padding-top: .5em;
  padding-bottom: .5em;
}

.table-bordered th, .table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered th {
  border-bottom: 1px solid #dddddd;
}

.tr_border {
  border-top: 1px solid #dddddd;
}

#embedded-urls {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 49%;
  float: left;
  padding: 1px;
}

#added-urls {
  text-align: center;
  display: inline-block;
  width: 49%;
  float:right;
}

#added-urls td, th, tr {
  text-align: center;
}

#added-urls a {
  color: black;
}

.form .required-fields {
  color: #ff0000;

}









