#compare_runs_form{
  box-shadow: 2px 2px 3px grey;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 15px;
  background-color: #DDD;
  border-radius: 15px;
}

#compare_runs_form label{
  min-width: 85px;
}

#compare_runs_form h1{
  padding-bottom: 15px;
}


#compare_runs_form-title h3{
  color: #339999;
}

.fields-left{
  margin: 0 auto;
  height: 50px;
}

