#compare_runs_model{
  box-shadow: 2px 2px 3px grey;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 15px;
  background-color: #DDD;
  border-radius: 15px;
}

#compare_runs_form label{
  min-width: 85px;
}

#compare_runs_form h1{
  padding-bottom: 15px;
}


#compare_runs_form-title h3{
  color: #339999;
}

.fields-left{
  margin: 0 auto;
  height: 50px;
}

#do-compare input{
  font-size: 14px;
  height: 25px;
  width: 100px;
  background: white;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #6D6868;
}

#result_table{
  margin-left: 37%;
  margin-top: 10px;
  border-collapse: collapse;
}
#result_table th{
background-color: rgb(241, 127, 122);
}

#result_table tr{
  background: beige;
}
#result_table td{
  text-align: left;
}

#result-title{
  margin-top: 30px;
  margin-bottom: 20px;
}