.error-msg{
  display: none;
  color: #ff0000;
  position: absolute;
  left: 0;
  top: 20px;
  font-size: 10px;
}
.required-field{
  display: inline-block;
  position: relative;
  min-width: 170px;
  text-align: left;
}
