.error-msg{
  display: none;
  color: #ff0000;
  position: absolute;
  left: 0;
  top: 20px;
  font-size: 10px;
}

.error{
    color: #DB1818;
    font-size:12px;
    margin: 0;
}

#submit-plot-button input{
    height: 25px;
    width: 55px;
    margin: 0 auto;
}

#Date-Range-Input{
    box-shadow: 2px 2px 3px grey;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 15px;
    background-color: #DDD;
    border-radius: 15px;
}
#Date-Range-Input label{
    min-width: 85px;
}
#Date-Range-Input h1{
    padding-bottom: 15px;
}


#date-range-title h3{
    color: #339999;
}

#comparative_analysis{
    margin: 0 auto;

}

#x-axisLabel p{
    position: relative;
    padding-bottom: 2%;
}

#y-axisLabel p{
    position: relative;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: left;
    left: -37%;
    top: -900px;
}
#comparative_analysis div.xAxis div.tickLabel{
    transform: rotate(-40deg);
    -ms-transform:rotate(-40deg); /* IE 9 */
    -moz-transform:rotate(-40deg); /* Firefox */
    -webkit-transform:rotate(-40deg); /* Safari and Chrome */
    -o-transform:rotate(-40deg); /* Opera */
    /*rotation-point:50% 50%;*/ /* CSS3 */
    /*rotation:270deg;*/ /* CSS3 */
}
