
#container{
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

#defect-analysis{
  display: block;
  padding: 25px 290px;
}

#defect-analysis h1{
  padding-bottom: 6%;
}


#defect-analysis-table >.color_codes >.legend_item{
    display: inline-block;
    margin: 10px 0;
}

.color_codes {
    text-align: left;
    float: right;
    padding-right: 8%;
}
.color_codes > .legend_item > .legend_text {
    height: 20px;
    line-height: 20px;
}
.table-bordered {
    border: 1px solid #000000;
    -webkit-border-radius: 1px;
    -moz-border-radius: 4px;
    border-radius: 2px;
    padding: 0px;
    background: #d3d3d3;
}
.table-bordered th {
    /*border: 1.5px solid rgb(3, 3, 3);*/
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 1px #000000;

}

.table-bordered th:first-child {
    /*border-right: 1px solid #dddddd;*/
    border: solid 1px #000000;

}

.table-bordered td span{
    border-bottom : 3px solid rgb(238, 172, 77)

}
.table-bordered td span:last-child{
    border: none;
}


.table-bordered td {
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 1px #000000;
}

.table-message{
    border-spacing: 10px;
    background: rgb(255, 250, 250);
    border: 1px solid #CD5C5C;
    padding-top: 1em;
    color: rgb(206, 0, 0);
}

.table-list{
    background: rgb(238, 172, 77);
    border: 1px solid rgb(238, 172, 77);
    padding-bottom: 1em;
}

.first{
    background: rgb(177, 9, 9);
    color: white;
}

#type1 > .rect, .error_list li{
    background: rgb(255, 250, 250);
    border: #000000 solid 1px;

}

#type2>.rect,.error_messages ul li{
    background: rgb(238, 172, 77);
    border: #000000 solid 1px;

}
#type3>.rect,.error_messages ul li{
    background: rgb(177, 9, 9);
    border: #000000 solid 1px;
}

.legend_text{
    text-align: left;
    height:10%;
}
.rect{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
.hidden{
    display: none;
}

#submit-project-button input{
    font-size: 14px;
    height: 25px;
    width: 60px;
    background: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #6D6868;
}

.display-message{
    font-size: 20px;
    color: green;
    margin: 0 auto;

}
