.main-menu{
    padding-top: 20px;
    padding-bottom: 20px;
}

#external-dashboard-url{
    float:left;
    width: 250px;
}

#external-dashboard-frame{
    float: right;
    width: 81%;
    margin-right: 20px;
    min-width: 820px;
}
#external-dashboard-url button{
    width: 200px;
    text-decoration: none;
    text-shadow: none;
    font-size: 14px;
    border-radius: 5px;
    margin: 6px 4px;

}

