.page_title{
    padding-top: 20px;
    padding-bottom: 20px;
}
.error-msg{
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    color: #DB1818;
    font-size:12px;
    margin: 0 auto;
}
.future-date-error-msg{
    display: none;
    position: absolute;
    left: 0;
    top: 32px;
    color: #DB1818;
    font-size:12px;
    margin: 0 auto;
}

.error{
    display: block;
}

#test_report_type{
    display: inline-block;

}
