a,a:visited,a:hover{
  text-decoration: none;
  color: #000000;
  background: none;
}

#menu-bar{
    background-color: #517994;
}

#menu-bar #title{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#menu-bar #title h1{
    margin-bottom: 8px;
}
#menu-bar .menu-options a:hover >span{
  border: 0px solid #7AC2FA;
  padding: 0;
  margin: 0;
  box-shadow: 1px 1px 1px #7AC2FA;
}
#menu-bar .menu-options{
    position: absolute;
    right: 0;
    top: 0;
}

#menu-bar #title span{
    color: #D8D8D8;
}


body{
    width:100%;
    margin:0 auto;
    text-align:center;
}
.fields input{
   margin: 0 auto;
}
.home_logo{
  display: block;
  height: 64px;
  width: 64px;
  background-image: url("../../assets/home.png");
}

.fields label{
  display: inline-block;
  min-width: 165px;
  text-align: right;
}

.fields{
    margin: 0 auto;
    height: 50px;
}

button{
  margin-top: 0px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  font-size: 14px;
}

.form{
  margin:0 auto;
  width:50%;
  background-color: #DDD;
  border-radius: 15px;
  padding: 10px;
}
.form .required-fields{
  color: #ff0000;
}
#links a:hover{
  text-decoration: none;
}

#Date-Range-Input{
  box-shadow: 2px 2px 3px grey;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 15px;
  background-color: #DDD;
  border-radius: 15px;
}
#Date-Range-Input label{
  min-width: 85px;
}
#Date-Range-Input h1{
  padding-bottom: 15px;
}

#submit-plot-button input{
    height: 25px;
    width: 55px;
    margin: 0 auto;
}

.page_title,.main-menu{
    padding-top: 20px;
    padding-bottom: 20px;
}

#date-range-title h3{
    color: #339999;
}

#comparative_analysis{
    margin: 0 auto;

}
.error{
  color: #DB1818;
  font-size:12px;
  margin: 0;
}
#submit-project-button input{
  font-size: 14px;
  height: 25px;
  width: 60px;
  background: white;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #6D6868;
}
