body{
    width:100%;
    margin:0 auto;
    text-align:center;
}
.fields input{
   margin: 0 auto;
}


.fields label{
    display: inline-block;
    width: 150px;
    margin: 0 auto;;
}

.fields{
    margin: 0 auto;
    height: 50px;
}

button{
    display: inline-block;
    margin:0 auto;
    padding-bottom: 20px;
    height: 30px;
    width: 50px;
}

.form{
    margin:0 auto;
    width:50%;
    background-color:#f5f5f5;
    border-radius: 15px;
}

#links a:hover{
  text-decoration: none;
}

#Date-Range-Input{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 10px;
    background-color: #eeeeee;
}

#Date-Range-Input h1{
  padding-bottom: 15px;
}



#graph_title{
    padding-top: 40px;
    padding-bottom: 20px;

}

#graph_title h3{
    color: #339999;
}

#comparative_analysis{
    margin: 0 auto;

}