.page_title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.error-msg {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    color: #DB1818;
    font-size: 12px;
    margin: 0 29.1%;
}

.future-date-error-msg {
    display: none;
    position: absolute;
    left: 0;
    top: 32px;
    color: #DB1818;
    font-size: 12px;
    margin: -0.4% 21%;
}

.error {
    display: block;
}

#test_report_type {
    display: inline-block;

}

.invalid-file-type {
    display: none;
    position: absolute;
    left: 40%;
    top: 86%;
    color: #DB1818;
    font-size: 12px;
    margin: 1.3% 5.8%;
}
