.page_title{
    padding-top: 20px;
    padding-bottom: 20px;
}

.fields input{
    margin: 0 auto;
}

.fields label{
    display: inline-block;
    min-width: 165px;
    text-align: right;
}

.fields{
    margin: 0 auto;
    height: 50px;
}


.form{
    margin:0 auto;
    width:50%;
    background-color: #DDD;
    border-radius: 15px;
    padding: 10px;
}
.form .required-fields{
    color: #ff0000;

}

.error{
    color: #DB1818;
    font-size:12px;
    margin: 0 auto;
}

