
#sub_project_picker{
  background-color: #DDD;
  padding: 10px;
  width: 780px;
  margin: 0 auto;
  border-radius: 8px;
}
#sub_project_id{
  display: inline-block;
}
#graph{
  position:relative;
  margin: 45px 0px;

}


#pyramid h3{
  padding-left: 400px;
}

#legend{
  text-align:center;
  float: right;
  margin-right: 40px;
  width: 300px;

}
#legend span{
  display: inline-block;
  margin: 10px;
}



.error{
  color: #DB1818;
  font-size:12px;
  margin: 0;
}

.clearfix:after,.clearfix:before{
  content: " ";
  clear: both;
  display: block;
}

.test-legend{
  display:block;
  text-align: left;
  height:10%;
  padding-left:38%
}

#display_message{
  position: absolute;
  bottom: 20px;
  width: 500px;
  margin-left: 50%;
  left: -250px;
  background-color: #DDD;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.trapezoid
{
  color: #750D0D;
  border-bottom-color : red;
  border-bottom-width: 100px;
  border-bottom-style : solid;
  //border-left: 75px solid transparent;
  //border-right: 75px solid transparent;
  height: 0;
  position: relative;
  margin: 0 auto;
}
#pyramid-overlay
{
  border-bottom-color : rgba(0,0,0,0.1);
  border-bottom-width: 400px;
  border-bottom-style : solid;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  height: 0;
  width:0;
  position: relative;
  margin: 0 auto;
  margin-top:-400px;
}

#pyramid{
  position: relative;
  margin: 0 auto;

}

.pyramidDetail{
  position: absolute;
  top: 50%;
  margin-left: 50%;
}
.pyramidItem{
  position: relative;
}
