
#sub_project_picker{
  background-color: #DDD;
  padding: 10px;
  width: 780px;
  margin: 0 auto;
  border-radius: 8px;
}

#graph{
  display:inline;
  position:relative;
  margin: 45px 0px;

}


#pyramid{
  position: relative;
  width:1000px;
  margin: 0 auto;
}

#pyramid h3{
  padding-left: 150px;
}

#legend{
  text-align:center;
  float: right;
  margin-right: 40px;
  width: 300px;

}
#legend span{
  display: inline-block;
  margin: 10px;
}

#pyramid .test-triangle{
  margin: 0 auto;
  border-style:solid;
  height: 0px;
  width: 0px;
  margin: 0 auto;
}
#pyramid .test-region{
  position: absolute;
  width: 100%;
  min-height: 300px;
}

.error{
  color: #DB1818;
  font-size:12px;
  margin: 0;
}

.clearfix:after,.clearfix:before{
  content: " ";
  clear: both;
  display: block;
}

.test-legend{
  display:block;
  text-align: left;
  height:10%;
  padding-left:38%
}
