// Place all the styles related to the visualization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,html{
  height: 100%;
  background-image:url('texture1.jpg');
}

#sub_project_picker{
  background-color: #DDD;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  border-radius: 8px;
}

#graph{
  display:inline;
  position:relative;
  margin: 45px 0px;

}

#x-axisLabel p{
  position: relative;
  padding-bottom: 2%;
}

#y-axisLabel p{
  position: relative;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: left;
  left: -34%;
  top: -1000px;
}


#pyramid{
  position: relative;
}

#pyramid{
  width:1000px;
  margin: 0 auto;
}

#legend{
  text-align:center;
  float: right;
  margin-right: 100px;
  width: 300px;
}
#legend>span{
  display: inline-block;
  margin: 10px;
}

.test-legend{
  display:block;
  text-align: left;
  height:10%;
  padding-left:20%
}
.rect{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.hidden{
  display: none;
}
#pyramid .test-triangle{
  margin: 0 auto;
  border-style:solid;
  height: 0px;
  width: 0px;
  margin: 0 auto;
}
#pyramid .test-region{
  position: absolute;
  width: 100%;
  min-height: 300px;
}

.clearfix:after,.clearfix:before{
  content: " ";
  clear: both;
  display: block;
}