<!--<div id="graph">-->
  <!--<div id="legend">-->
  <!--</div>-->
  <!--<div id="pyramid">-->
  <!--</div>-->
<!--</div>-->
<!--<div id="display_message">-->
<!--</div>-->



<div id="display_message"style="display: none;">
</div>

 <div id = "project_data_table"style="display: none;">
<table id="project_data" class="table-bordered" align="center">
</table>
 </div>

