<h2 style="padding: 2%;">External Dashboard</h2>
<div id="external-dashboard-url"></div>
<div id="external-dashboard-frame"></div>

<script type="text/javascript">
    var data;
    data = "<%= @all_external_urls %>";
    data = jsonData.parse(data);
    ExternalDashboard.renderButtons(data);
</script>